<section class="index">
<!-- Navbar -->
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="main_logo navbar-brand" href="#">MyDatingApp</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<!-- Icons won't scale correctly in this case, thus, we use a bootstrap special class "icon-bar". -->
					<!-- <i class="fa fa-bars"></i>	 -->
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
				</button>
					<!-- <img src="assets/logo.png" alt="" class="logo"> -->
			</div>
				
			<div class="menu collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a href="#">¿Cómo Funciona?</a></li>	
					<li><a href="#">Historias de Amor</a></li> -->
					<li><a href="#">Precios</a></li>
				
					<!-- The "data-toggle" attribute is needed to activate the modal. -->
          			<li><a data-toggle="modal" href="#textModal">Ingresar</a></li>
          			<!-- End modal trigger -->

					<li id="join_now"><a href="#">Registrate Ahora</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End navbar -->

	<!-- Carousel -->		
	<div id="carouselTop" class="carousel slide text-center" data-ride="carousel">
        <!-- <div class="container"> -->
        	<!-- Indicators -->
	        <!-- <ol class="carousel-indicators">
	        	<li class="active" data-target="#carouselTop" data-slide-to="0"></li>
	        	<li data-target="#carouselTop" data-slide-to="1"></li>
	        	<li data-target="#carouselTop" data-slide-to="2"></li>
	        </ol> -->
	        <!-- End Indicators -->

	        <!-- Wrapper for Slides -->
        	<div class="carousel-inner">
	            <div id="carouselHeaderTopMargin" class="item active carousel_one">
	            	<h1>Somos personas reales buscando citas para ti</h1>
					<p class="lead">Dedica tu tiempo en citas, no online.</p>
					<p class="btn_group">
						<button type="button" class="btn btn-lg btn-default btn-responsive btn_left">Mayor Información</button>
						<button type="button" class="btn btn-lg btn-primary btn-responsive btn_right">Da Click para Empezar</button>
					</p>
				</div>
	            <div id="carouselHeaderTopMargin" class="item carousel_two">
		            <h1>Encuentra algo real</h1>
		            <p class="lead">Conoce a esa persona especial a través de alguien de confianza.</p>
		            <p class="btn_group">
						<button type="button" class="btn btn-lg btn-default btn-responsive btn_left">Mayor Información</button>
						<button type="button" class="btn btn-lg btn-primary btn-responsive btn_right">Da Click para Empezar</button>
					</p>
	            </div>
	            <div id="carouselHeaderTopMargin" class="item carousel_three">
		            <h1>No tienes porque bajar tus estándares</h1>
		            <p class="lead">Filtramos los locos, las dramáticas y eliminamos los juegos.</p>
		            <p class="btn_group">
						<button type="button" class="btn btn-lg btn-default btn-responsive btn_left">Mayor Información</button>
						<button type="button" class="btn btn-lg btn-primary btn-responsive btn_right">Da Click para Empezar</button>
					</p>
				</div>
	    	</div>
        <!-- </div> -->
        <!-- End Wrapper for Slides -->

        <!-- Controls -->
        <a class="left carousel-control" href="#carouselTop" data-slide="prev"><!-- <span class="icon-prev"></span> --></a>
        <a class="right carousel-control" href="#carouselTop" data-slide="next"><!-- <span class="icon-next"></span> --></a>
        <!-- End Controls -->
    </div>
   	<!-- End Carousel -->

	<!-- Modal -->
	<div id="textModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title text-center">INGRESA A TÚ CUENTA</h4>
				</div>

				<div class="modal-body">
					<form class="form">
						<div class="form-group">
							<label class="sr-only" for="email">EMAIL</label>
							<input type="email" id="email" class="form-control" placeholder="Email">
						</div>
						<div class="form-group">
							<label class="sr-only" for="password">PASSWORD</label>
							<input type="password" id="password" class="form-control" placeholder="Password">	
						</div>
						<button type="submit" class="btn btn-lg btn-primary" data-dismiss="modal">Ingresar</button>
						<a class="pull-right forgot_password" href="#">¿Olvidaste tu contraseña?</a>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Modal -->

   	<!-- Body -->	
	<div>
		<div class="body_color_1">
			<div class="container body_content body_1">
				<div class="row col-sm-12 text-center">
					<h2>Un Conserje Personal para Tu Vida Amorosa</h2>
				</div>
				
				<div class="row">
					<div class='col-sm-4 col-xs-12'>
						<div class="text-center">
							<i class="site_icons fa fa-user-plus"></i>
						</div>
						<h4 class="text-center">Tu Matchmaker Personal</h4>
						<p>Porque el romance es lo último que deberías estar haciendo solo. Nuestros especialistas se encargan de todo.</p>
					</div>

					<div class='col-sm-4 col-xs-12'>
						<div class="text-center">
							<i class="site_icons fa fa-clock-o"></i>
						</div>
						<h4 class="text-center">Te Ahorra Tiempo</h4>
						<p>Pierdes mucho tiempo filtrando locos y escribiendo a cientos de personas que nunca te van a responder. Déjanos hacer el trabajo por ti!</p>
					</div>

					<div class='col-sm-4 col-xs-12'>
						<div class="text-center">
							<i class="site_icons fa fa-check-square-o"></i>
						</div>
						<h4 class="text-center">Partidos de Calidad</h4>
						<p>Conoce a personas de calidad como tu. Cada match está hecho y aprobado por seres humanos - no algoritmos.</p>
					</div>
					<div class="row col-sm-12 text-center">
					<button type="button" class="btn btn-lg btn-primary btn-responsive btn_cta">Da Click para Empezar</button>
					<p class="perfil_privado">Tu perfil es privado</p>
				</div>

				</div>
			</div>
		</div>

		<div class="frase">
			<div class="container body_content">
				<div class="row col-sm-10 col-sm-offset-1 col-xs-12 text-center">
					<h3>Tomamos la forma antigua de conocer personas y la unimos con tecnología de última generación para colocar en esteroides tu vida romántica, el resultado, hacemos más fácil y rápido que conozcas a esa persona especial.</h3>
				</div>
			</div>
		</div>	

		<div class="body_color_2">
			<div class="container body_content body_2">
				<div class="row col-sm-12 text-center">
					<h2>Es Tan Fácil Como 1 - 2 - 3</h2>
				</div>
				
				<div class="row">
					<div class='col-sm-4 col-xs-12'>
						<div class="site_numbers text-center">
							<%= image_tag("1.png", :alt => "1") %>
							<h4>Crea un Perfil Privado</h4>
						</div>
							<p>Inicia tu perfil privado y sube una foto. A continuación, selecciona las características de esa persona ideal.</p>
					</div>

					<div class='col-sm-4 col-xs-12'>
						<div class="site_numbers text-center">
							<%= image_tag("2.png", :alt => "2") %>
							<h4>Cuéntanos Qué Te Hace Vibrar</h4>
						</div>
						<p>Uno de nuestros matchmakers examina cuidadosamente tu perfil y estudia tu lista de deseos románticos.</p>
					</div>

					<div class='col-sm-4 col-xs-12'>
						<div class="site_numbers text-center">
							<%= image_tag("3.png", :alt => "3") %>
							<h4>Diviértete</h4>
						</div>
						<p>Conoce a tú match a través de nuestras famosas y creativas citas.</p>
					</div>
				</div>

				<div class="row col-sm-8 col-sm-offset-2 col-xs-12 text-center">
					<p>Y aquí todos ganamos, si esa primera cita no es tu alma gemela o sencillamente deseas conocer otras personas, gracias a tu cita anterior, a la retroalimentación de tu match y tuya, cuidadosamente analizada, nos ayudara a afinar los factores cruciales de compatibilidad.</p>
				</div>
			</div>
		</div>

		<div class="body_color_3">
			<div class="container body_content body_3">
				<div class="row col-sm-12 text-center">
					<h2>La Ventaja *****</h2>
					<h4>Disfruta de la tranquilidad con la garantía de satisfacción de *****.</h4>
				</div>

				<div class="row">
					<div class='col-sm-4 col-xs-12'>
						<div class="text-center">
							<i class="site_icons fa fa-child"></i>
						</div>
						<h4 class="text-center">Personalizado</h4>
						<p>¿Quién no querría que un matchmaker profesional, mirara con detenimiento tus intereses personales en el amor y determinara tus posibles parejas más prometedores? Un equipo exclusivo de “Cazadores de Amor” mirando a travez de 100s de posibilidades en busca de candidatos elegibles y de calidad seleccionados a dedo para ti? Si tan sólo pudieras permitírtelo… ¿Verdad? Ahora puedes.</p>
					</div>

					<div class='col-sm-4 col-xs-12'>
						<div class="text-center">
							<i class="site_icons fa fa-diamond"></i>
						</div>
						<h4 class="text-center">Premium</h4>
						<p>No nos limitamos a encontrarte a alguien. Te damos citas creativas donde experiencias diseñadas destierran ese vació y fomentan la conexión. De clases de salsa a pruebas de quesos y vinos, nuestros conserjes de citas orquestan experiencias de reuniones iniciales tan inolvidables como los posibles matches que conocerás.</p>
					</div>

					<div class='col-sm-4 col-xs-12'>
						<div class="text-center">
							<i class="site_icons fa fa-thumbs-o-up"></i>
						</div>
						<h4 class="text-center">Simple</h4>
						<p>¿Cansado de aquellas aplicaciones donde pasas el dedo de un lado a otro?
						¿O escribir 100s de mensajes y nunca obtener respuesta?
						Sabemos que tu tiempo y confianza son sagrados. Es por eso que la unión de nuestra tecnología malvada ;) junto con seres humanos muy inteligentes, nos permite buscar, filtrar y encontrar esa persona ideal para ti.</p>
					</div>
				</div>

				<div class="row">
					<div class='col-sm-5 col-sm-offset-1 col-xs-12'>
						<div class="text-center">
							<i class="site_icons fa fa-user-secret"></i>
						</div>
						<h4 class="text-center">Privado</h4>
						<p>Todo el mundo ha escuchado las historias de horror: la compañera de especialización que vio el perfil de su amigo en un sitio de citas y lo hace quedar en ridículo; la prima que va a un gimnasio y cuyo entrenador la vio en Tinder y ahora no la deja sola. Incomodo ¿no? En *****, tu privacidad es de suma importancia, por lo que tu perfil y fotos siempre y para siempre serán "sólo para nuestros ojos."</p>
					</div>

					<div class='col-sm-5 col-xs-12'>
						<div class="text-center">
							<i class="site_icons fa fa-shield"></i>
						</div>
						<h4 class="text-center">Seguro</h4>
						<p>¿Cómo puedes confiar en personas que conoces en bares o en lo que dicen en un sitio de citas? No puedes. Pero tu puedes confiar en nuestros equipos de matchmaking donde de forma personal y a la medida hemos seleccionado cada uno de tus matches antes de que te encuentres con ellos. Todos nuestros usuarios, sin excepción, son verificados y aprobados por seres humanos, para mantener la seguridad y garantizar la calidad y veracidad en la información de nuestros matches.</p>
					</div>
				</div>
				
				<div class="row col-sm-12 text-center">
					<button type="button" class="btn btn-lg btn-primary btn-responsive btn_cta">Da Click para Empezar</button>
					<p class="perfil_privado">Tu perfil es privado</p>
				</div>
			</div>
		</div>

		<div class="frase">
			<div class="container body_content">
				<div class="row col-sm-10 col-sm-offset-1 col-xs-12 text-center">
					<h3>¡Permite que ***** devuelva la diversión y romance a donde pertenecen…
					Justo en el centro de tu vida amorosa!</h3>
				</div>
			</div>
		</div>
		
		<div class="body_color_4">
			<div class="container body_content body_4">
				<div class="row col-sm-12 text-center">
					<h2>Historias de Amor</h2>
					<h4>Porque al final de esto se trata. Lee lo que nuestros usuarios están diciendo...</h4>
				</div>

				<div class="row">
					<div class='love_story col-sm-4 col-xs-12'>
						<p>“¡***** ha establecido citas increíbles! Los lugares han sido interesantes y los hombres son buenos partidos. Mi matchmaker siempre me contacta antes y después de mi cita."</p>
					</div>

					<div class='love_story col-sm-4 col-xs-12'>
						<p>"Mi matchmaker es como tener un amigo en común, y tu sabes como es, ella trabaja entre los dos, ayuda al uno o al otro y al final, tiendes a confiar en tus amigos. He estado saliendo con mi match desde hace varios meses. :)”</p>
					</div>

					<div class='love_story col-sm-4 col-xs-12'>
						<p>“Encontrar personas de calidad en una aplicación o en un bar es como buscar una aguja en un pajar: lento y frustrante, y eso si lo encuentras… También hay una falta de confianza allí. Como joven profesional ocupada, que no tengo tiempo para mensajes interminables en Tinder o para ir a una cantidad de citas sin interés. ***** en cambio ha sido impresionante! De inmediato no solo tuve una cita, pero ademas fue fantástica! Un hombre súper divertido, lindo y compatible. Soy una gran creyente de ***** ahora.</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="body_color_5">
			<div class="container body_content body_5">
				<div class="row col-sm-12 text-center">
					<h3>Matchmaker, Matchmaker</h3>
					<p>Mathcmakers tienen la habilidad de desarrollar un sentido intuitivo de lo que hace a nuestros usuarios vibrar románticamente en una forma más matizada de lo que el/ella o sus bien intencionados amigos pueden hacer. Nuestros matchmakers son seleccionados de una serie de habilidades y características singularmente aplicables y provienen de diversos orígenes profesionales.</p>

					<p><a href="#">Conoce algunos de nuestros queridos creadores de Amor</a></p>
					<button type="button" class="btn btn-lg btn-primary btn-responsive btn_cta">Da Click para Empezar</button>
					<p class="perfil_privado">Tu perfil es privado</p>
				</div>
			</div>
		</div>

		<div class="frase">
			<div class="container body_content">
				<div class="row col-sm-10 col-sm-offset-1 col-xs-12 text-center">
					<h3>¡Permite que ***** devuelva la diversión y romance a donde pertenecen…
					Justo en el centro de tu vida amorosa!</h3>
				</div>
			</div>
		</div>

		<div class="body_color_6">
			<div class="container body_content body_6">
				<div class="row col-sm-12 text-center">
					<h2>Hablan de Nosotros</h2>
					

					
				</div>
			</div>
		</div>
	</div>
	<!-- End Body -->
	
	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class='col-sm-4 hidden-xs footer_padding_top'>
					<h4>Acerca de *****</h4>
					<ul class="list-unstyled">
						<!-- <li><a href="#">iOS App</a></li> -->
						<li><a href="#">Nuestra Historia</a></li>
						<li><a href="#">Nuestros Creadores de Amor</a></li>
						<li><a href="#">Unete a Nuestro Equipo</a></li>
						<li><a href="#">Prensa</a></li>
						<!-- <li><a href="#">Testimonios</a></li> -->
					</ul>
				</div>
				<div class='col-sm-4 hidden-xs footer_padding_top'>
					<h4>Servicio al Cliente</h4>
					<ul class="list-unstyled">
						<li><a href="#">Historias de Amor</a></li>
						<li><a href="#">¿Cómo Funciona?</a></li>
						<li><a href="#">FAQs</a></li>
						<li><a href="#">Contáctanos</a></li>
					</ul>
				</div>
				<div class='col-sm-4 col-xs-12'>
 					<h4 class="text-center">Síguenos en</h4>
					<ul class='social text-center list-inline'>
						<li><a href="#" class="fa fa-instagram"></a></li>
						<li><a href="#" class="fa fa-facebook "></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-pinterest-p"></a></li>
					</ul>
				</div>
				<div class='copyright'>
					<p>&copy; 2015 ***** <span class='legal'><a href="#">Términos de Servicio</a> | <a href="#">Política de Privacidad</a></span></p>
				</div>	
			</div>
		</div>
	</footer>
	<!-- End Footer -->
</section>